[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/home/pi/thunderborg/tbLedGui.py
Icon=/home/pi/thunderborg/piborg.ico
Terminal=false
Name=ThunderBorg LED Demo GUI
Comment=ThunderBorg LED demonstration GUI
Categories=Application;Development;
